/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#titlebar {
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-style: outset;
	margin-bottom: 10pt;
}


#lock {
	fill: #336699;
}

#titlebar a:link{
	color: #336699;
	text-decoration: none;
}

#titlebar a:visited{
	color: #336699;
}

#titlebar h1 {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 0;
}

#titlebar p {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	text-align: center;
}

#main {
	margin: 0 auto;
}

#main h1{
	text-align: center;
}

.flex-container{
	display: flex;
	flex-direction: column;
}

.flex-container-row{
	display: flex;
	flex-direction: row;
}

#content {
	display: flex;
	flex-direction: column;
	/* margin: 0 auto; */
	align-items: center;
	justify-content: center;
}

#content form{
	display: flex;
	flex-direction: column;
}

#footer {
	border-top-style: solid;
	border-width: 1px;
	bottom: 0;
	width: 100%;
	margin-top: 20pt;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#bin-content {
  /* visibility: hidden; */
  display: none;
}

#bin-content p {
	margin-top: 20px;
}

#share-box {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#share-box input[type=text]{
	width: 50%;
	transition: width 0.4s ease-in-out;
}

#share-box input[type=text]:focus{
	width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.copy-button {
	width: 50px;
	height: 30px;
}

.copy-button:hover, #revealbutton:hover, #revealpwbutton:hover, #create-secret:hover {
	cursor: pointer;
}


#copy-icon {
	width: 25px;
	height: 25px;
}

#label-button label {
	font-weight: bold;
	margin-right: 10pt;
}

#label-button {
	margin-bottom: 10pt;
}

#another-secret {
	margin-top: 10pt;
}

#dec-msg {
	font-family: Tahoma, sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #ecf2f9;
	padding: 10px;
}

#dec-msg p {
	margin-top: 30px;
}

#retention {
	margin-left: 10px;
}

#retention-pane {
	margin-top: 10pt;
	margin-bottom: 10pt;
}

#retention-pane select:hover {
	background-color: #8cb3d9;
	color: white;
}

#msg-counter {
	text-align: right;
	font-weight: 200;
}

#copymessageDiv {
	width: 49%;
	justify-content: flex-end;
}

#message {
	padding: 10px;
	font-family: Tahoma, sans-serif;
}

#enc-pane {
	width: 100%;
	display: none;
}

#enc-form {
	margin-top: 10px;
}

#enc-form input[type=submit] {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#enc-form input[type=submit]:hover {
	background-color: #8cb3d9;
	color: white;
}

#qrcode {
	margin-top: 20px;
	margin-bottom: 20px;
}

#additional-password {
	margin-bottom: 10px;
}

#additional-password-field {
        margin-top: 10px;
	display: none;
}

#pw-enter {
	display: flex;
	flex-direction: column;
	/* margin: 0 auto; */
	align-items: center;
	justify-content: center;
}

#pwenterset {
	display: flex;
	flex-direction: row;
}

#alertbox {
	display: none;
	flex-direction: column;
	padding: 15pt;
	align-items: center;
	justify-content: center;
}

#alertbox #alert {
	color: red;
}

.textinput {
	padding: 10px;
        border: 1px solid blue;
        border-radius: 4px;
        color: #00091a;
}

.error-msg {
	font-weight: 700;
	font-size: 1.25em;
}

.warning-sign{
	width: 2.5rem;
	height: 2.5rem;
	color: orange;
}

.center {
	justify-content: center;
}

.hidden{ display: none; }


#togglePassword {
  width: 3em;
  cursor: pointer;
  vertical-align: middle;
}

#random-secret {
	margin-bottom: 10px;
}

#random-button {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	width: 100%;
}

#randomMainLeft {
	flex: 50%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#randomMainRight {
	flex: 50%;
	padding-top: 0.5rem;
	vertical-align: middle;
}

#randomSettings {
	margin-top: 15pt;
	padding-left: 0.5rem;
}

.custom-random-setting {
	margin-bottom: 0.5rem;
}

.custom-random-setting label {
	margin-left: 1pt;
	margin-right: 5pt;
}

#random_meter {
	width: 50%;
}

#random_entropy {
	font-size: small;
}
