/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#titlebar {
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-style: outset;
	margin-bottom: 40pt;
}

#titlebar h1 {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 0;
}

#titlebar p {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	text-align: center;
}

#main {
	margin: 0 auto;
}

#main h1{
	text-align: center;
}

.flex-container{
	display: flex;
	flex-direction: column;
}

#content {
	display: flex;
	flex-direction: column;
	/* margin: 0 auto; */
	align-items: center;
	justify-content: center;
}

#content form{
	display: flex;
	flex-direction: column;
}

#footer {
	border-top-style: solid;
	border-width: 1px;
	bottom: 0;
	width: 100%;
	margin-top: 40pt;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#bin-content {
  /* visibility: hidden; */
  display: none;
}

#share-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#share-box input[type=text]{
	width: 50%;
	transition: width 0.4s ease-in-out;
}

#share-box input[type=text]:focus{
	width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#copy-button {
	width: 50px;
	height: 30px;
}

#copy-icon {
	width: 25px;
	height: 25px;
}

#label-button label {
	font-weight: bold;
	margin-right: 10pt;
}

#label-button {
	margin-bottom: 10pt;
}

#another-secret {
	margin-top: 10pt;
}

#dec-msg {
	background-color: #F2F5FF;
}

#retention-pane {
	margin-top: 10pt;
	margin-bottom: 10pt;
}

.hidden{ display: none; }
