// custom setup code goes here
$sidebar-link-color: $white;
$sidebar-footer-color: darken($sidebar-link-color, 30%);
$sidebar-footer-link-color: $white;
$sidebar-footer-link-visited: darken($sidebar-footer-link-color, 5%);
