<p>Encrypt your message, store it encrypted and share a link</p>
<div id="enc-pane">
  <div>
    Key: <span id="enc-key"></span>
    IV:  <span id="enc-iv"></span>
  </div>
  <div>
    Url: <span id="secret-url"></span>
  </div>
</div>

<div id="enc-form">
  <!-- return false to prevent reloading the page -->
  <form onsubmit="encryptEvent(); return false">
    <textarea id="message" name="bin[payload]" rows="20" cols="40" placeholder="Encrypt me!" required></textarea>
    <input type="submit" value="Create">
  </form>
</div>
<script src="/javascripts/encrypt.js"></script>
