<p>Encrypt your message, store it encrypted and share a link</p>
<form action="/" method="post">
  <textarea id="message" name="bin[payload]" rows="20" cols="40" placeholder="Encrypt me!" required></textarea>
  <input type="submit" value="Create">
</form>

