<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="Share secrets securely">
    <meta name="author" content="aha-oida">
    <title>aha-secret: Share Secrets</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/encryption.css" />
    <script src="/javascripts/application.js"></script>

    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
  <div id="main" class="flex-container col-5">
    <div id="titlebar">
      <h1>AHA-Secret</h1>
      <p>Encrypt your message, store it encrypted and share a link</p>
    </div>
    <!-- Content -->
    <div id="content" class="flex-container">
      <%= yield %>
    </div>
    <footer id="footer">
      <p>aha-secret is free open source software</p>
    </footer>
  </div>
</body>
</html>
