<!DOCTYPE html>
<html>
  <head>
    <title>aha secret</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="Share secrets securely">
    <meta name="author" content="aha-oida">

    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
