<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aha-secret: Share Secrets</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
</head>
<body>
  <div id="main" class="flex-container col-5">
    <h1>AHA-Secret</h1>
    <!-- Content -->
    <div id="content" class="flex-container">
      <%= yield %>
    </div>
    <footer id="footer">
      <p>aha-secret is free open source software</p>
    </footer>
  </div>
</body>
</html>
