<%# TODO: add reveal this button prior showing bin %>

<div id="bin-content">
  <h1>Your decrypted message:</h1>
  <span id="bin-id" class="hidden"><%= @bin.id %></span>
  <textarea id="dec-msg" readonly rows="20" cols="40"></textarea>
  <p>This message was deleted from the server and can't be shown twice</p>
</div>

<p id="reveal-content">
  Click this button to reveal the secret:
  <button id="revealbutton" onclick="reveal()">Reveal</button>
</p>
<script src="/javascripts/decrypt.js"></script>
