# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.2.6', '3.4.7']
    services:
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211
    env:
      MEMCACHE: "localhost:11211"
      undercover_version: 'DEACTIVATED_SET_3.4.2_TO_REACTIVATE'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
      # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
      # change this to (see https://github.com/ruby/setup-ruby#versioning):
        uses: ruby/setup-ruby@ab177d40ee5483edb974554986f56b33477e21d0
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Create db and run migrations
        env:
          RACK_ENV: test
          DATABASE_URL: sqlite://db/database/test.sqlite3
        run: |
          bundle exec rake db:migrate
      - name: Run brakeman
        run: bundle exec brakeman
      - name: Run tests with coverage
        if: ${{ matrix.ruby-version == env.undercover_version }}
        env:
          COVERAGE: "true"
          CI: "true"
          MEMCACHE: "localhost:11211"
        run: bundle exec rspec
      # Run tests without coverage for other Ruby versions
      - name: Run tests
        if: ${{ matrix.ruby-version != env.undercover_version }}
        env:
          CI: "true"
          MEMCACHE: "localhost:11211"
        run: bundle exec rspec
      # only upload coverage once
      - name: undercover
        if: ${{ matrix.ruby-version == env.undercover_version && github.ref_name == 'main' }}
        run: |
          ruby -e "$(curl -s https://undercover-ci.com/uploader.rb)" -- \
            --repo ${{ github.repository }} \
            --commit ${{ github.event.pull_request.head.sha || github.sha }} \
            --lcov /home/runner/_work/aha-secret/aha-secret/coverage/lcov/aha-secret.lcov
